:root {
  --white: #F3F4F6;
  --black: #2D2A32;
  --green: #00B972;
  --light-grey: #d7d7d7;
  --dark-grey: #181719;
  --lime: #92eb79;
}


/* Base Styles */
* {
  padding: 0;
  margin: 0;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 2rem
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white)
}

img {
  display: block;
  width: 100%;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 3px;
  color: var(--green);
  background-color: var(--white);
  border: 2px solid var(--green);
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--green);
  color: var(--white);
  transition: 0.3s;
}

/* Nav bar */
.nav {
  width: 100vw;
  height: 60px;
  background-color: var(--white);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 3px solid var(--black);
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  align-items: center;
}
/* Nav bar hover */
.nav-list a{
  font-size: 2.2rem;
  padding: 1rem;
  color: var(--black);
  transition: 0.3s;
}
.nav-list a:hover {
  color: var(--green);
  transition: 0.3s;
}
.nav-list li {
  transition: 0.3s;
}
.nav-list li:hover {
  transform: translate(0, -5px);
  transition: 0.3s;
}

/* Welcome Section */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(0deg, var(--white) 70%, var(--light-grey) 100%); */
}

.welcome-content > p {
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  font-style: italic;
  color: var(--green);
}

/* Welcome Animated Background */
.welcome-background-DISABLED {
  position: fixed;
  z-index: -1;
  height: 300vh;
  width: 200vw;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    var(--lime),
    var(--white),
    var(--white)
  );
  background-position: center;
  background-size: 125% 125%;
  animation: bg-colors 20s ease-in-out 0s infinite running;
}

@keyframes bg-colors {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* About Section */
/* For Future Use */

/* Project Section */
.projects-section{
  display: flex;
  padding: 8rem;
  width: 100vw;
  background: var(--green);
  justify-content: center;
}
.projects-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 80vw;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 2rem 2rem rgba(0, 0, 0, 0.5);
}
.projects-header {
  padding-bottom: 0;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, 350px);
  grid-gap: 2rem; */
  max-width: 1280px;
  margin: 0 auto;
}
.project-tile {
  margin: 2rem;
  border-radius: 10px;
  max-height: 350px;
  min-height: 350px;
  max-width: 350px;
  min-width: 350px;
  background-color: var(--black);
}
.project-image {
  height: calc(100% - 6rem);
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.project-title {
  padding: 1.8rem 1rem;
  color: var(--white);
  transition: 0.3s
}
.project-title:hover {
  letter-spacing: 1px;
  transition: 0.3s
}
.project-title-highlight {
  font-weight: bold;
  color: var(--black);
  transition: color 0.3s ease-in-out;
}
.project-tile:hover .project-title-highlight {
  color: var(--green);
  transition: color 0.3s ease-in-out;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  padding: 4rem;
  text-align: center;
  border: 3px solid black;
  margin: 4rem auto;
  border-radius: 10px;
  background-color: var(--white);
}
.contact-section-header > p {
  font-style: italic;
}
.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* Footer */
footer {
  margin-top: 4rem;
  height: 4rem;
  font-size: 1.4rem;
}
footer a {
  color: var(--black);
  text-decoration: underline;
  transition: 0.3s;
}
footer a:hover {
  color: var(--green);
  transition: 0.3s
}

/* Media Queries */
@media screen and (max-width: 600px) {
  body{
    width: 100vw;
    overflow: scroll;
  }
  .welcome-content > h1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 6rem;
    padding: 0 4rem;
  }
  .welcome-content > h1 > span {
    font-size: 14rem;
    margin-top: -4rem;
  }
  .welcome-content > p {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 4rem;
    margin-left: 20px;
  }
  .projects-grid {
    max-width: 80vw;
  }
  .project-tile {
    margin: 2rem;
    border-radius: 10px;
    max-height: 350px;
    min-height: 0;
    max-width: 350px;
    min-width: 0;
    background-color: var(--black);
  }
  .contact-links {
    flex-direction: column;
  }
}
