:root {
    --white: #f3f4f6;
    --black: #2d2a32;
    --green: #00b972;
    --light-grey: #d7d7d7;
    --dark-grey: #181719;
    --lime: #92eb79;
    --trans-black: rgba(45, 42, 50, 0.6);
}

/* Base Styles */
* {
    padding: 0;
    margin: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    background-color: var(--black);
    color: var(--black);
}

h1,
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    display: block;
    width: 100%;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 2rem;
    border-radius: 3px;
    color: var(--green);
    background-color: var(--white);
    border: 2px solid var(--green);
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--green);
    color: var(--white);
    transition: 0.3s;
}

/* Nav bar */
.nav {
    width: 100vw;
    height: 60px;
    background-color: var(--black);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    /* border-bottom: 3px solid var(--black); */
}

.nav-list {
    display: flex;
    margin-right: 2rem;
    align-items: center;
}
/* Nav bar hover */
.nav-list a {
    font-size: 2.2rem;
    padding: 1rem;
    border-radius: 3px;
    color: var(--white);
    transition: 0.3s;
    margin: 0.5rem;
}
.nav-list a:hover {
    color: var(--black);
    background-color: var(--white);
    transition: 0.3s;
}
.nav-list li {
    transition: 0.3s;
}
.nav-list li:hover {
    color: var(--white);
    transition: 0.3s;
}

/* Welcome Section */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    /* padding-bottom: 15vh; */
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
}

.welcome-content > p {
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    font-style: italic;
    color: var(--green);
}

.welcome-content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

/* Chevron Arrow */
#chevron-arrow {
    font-size: 4rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
    padding: 1rem;
    border-radius: 50%;
}
#chevron-arrow:hover {
    transform: translateY(0px);
    transition: 0.3s;
    color: var(--white);
    background-color: var(--black);
}

.fa-chevron-down {
    transform: translateY(-5px);
    position: relative;
    bottom: -20rem;
}

.fa-chevron-up {
    transform: translateY(5px);
}

/* About Section */
.about {
    background-color: var(--black);
    color: var(--white);
    /* padding-top: 15vh; */
    /* clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%); */
}
.about h2 {
    padding-bottom: 4rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 6rem 6rem 6rem;
    /* grid-template-rows: 2fr 1fr; */
}

.about-grid p {
    text-align: left;
}
/* Profile Image */
.profile-image {
    border-radius: 50%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
/* Profile Info */
.profile-info-links {
    padding-top: 2rem;
}
.profile-info-links a {
    padding: 0.5rem 2rem;
    font-size: 3rem;
    border-radius: 3px;
    margin-right: 2rem;
    transition: 0.3s;
}
.profile-info-links a:hover {
    color: var(--black);
    background-color: var(--white);
    transition: 0.3s;
}
.profile-info-links a:last-of-type {
    margin-right: 0rem;
}

/* Skills */
.skills {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
/* .skills h3 {
    margin-top: 2rem;
} */
.skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Project Section */
.projects-section {
    display: flex;
    padding: 8rem;
    width: 100vw;
    background: var(--green);
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 8%);
}
.projects-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80vw;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 2rem 2rem rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.projects-header {
    padding-bottom: 0;
}

.projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, 350px);
  grid-gap: 2rem; */
    max-width: 1280px;
    margin: 0 auto;
}
.project-tile {
    margin: 2rem;
    border-radius: 10px;
    max-height: 350px;
    min-height: 350px;
    max-width: 350px;
    min-width: 350px;
    background-color: var(--black);
    transition: 0.3s;
}
.project-tile:hover {
    letter-spacing: 1px;
    transition: 0.3s;
}
.image-wrapper {
    height: calc(100% - 6rem);
    width: 100%;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
/* Zoom + Blur image on hover */
.project-image {
    position: static;
    transition: 0.3s;
}
.project-tile:hover .project-image {
    transform: scale(1.1);
    filter: blur(2px);
    /* transition: 0.3s; */
}
/* Project description over image */
/* TODO implement after adding text in .html*/
/* .project-desc {
    opacity: 0%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    color: var(--white);
    background-color: var(--trans-black);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
} */
.project-tile:hover .project-desc {
    opacity: 100%;
    transition: 0.3s;
}
/* Project titles */
.project-title {
    padding: 1.8rem 1rem;
    color: var(--white);
    transition: 0.3s;
}
/* Show/hide green "< >" selectors */
.project-title-highlight {
    font-weight: bold;
    color: var(--black);
    transition: color 0.3s ease-in-out;
}
.project-tile:hover .project-title-highlight {
    color: var(--green);
    transition: color 0.3s ease-in-out;
}

/* Contact Section */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    padding: 4rem;
    text-align: center;
    margin: 4rem auto;
    border-radius: 10px;
    background-color: var(--white);
}
.contact-section-header > p {
    font-style: italic;
}
.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Footer */
footer {
    margin-top: 4rem;
    font-size: 1.4rem;
    color: var(--white);
}
/* footer a {
    color: var(--black);
    text-decoration: underline;
    transition: 0.3s;
} */
/* footer a:hover {
    color: var(--green);
    transition: 0.3s;
} */

/* Media Queries */
@media screen and (max-width: 600px) {
    body {
        width: 100vw;
        overflow: scroll;
    }
    .welcome-content > h1 {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 6rem;
    }
    .welcome-content > h1 > span {
        font-size: 14rem;
        margin-top: -4rem;
    }
    .welcome-content > p {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 4rem;
        margin-left: 20px;
    }
    .projects-grid {
        max-width: 80vw;
    }
    .project-tile {
        margin: 2rem;
        border-radius: 10px;
        max-height: 350px;
        min-height: 0;
        max-width: 350px;
        min-width: 0;
        background-color: var(--black);
    }
    .contact-links {
        flex-direction: column;
    }
}
